// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}

address {
  font-style: normal;
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;

  &.hidden {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}

footer {
  margin-top: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*::selection {
  background: $brand-red;
  color: $brand-black;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    // max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 936px;
  }
}

@import "./common.scss";

.large-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  color: $brand-black;
  margin-bottom: 30px;
}

.middle-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: $brand-black;
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &.fill {
    box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #fff;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.header__logo,
.footer__logo {
  width: 190px;
  height: 38px;
  overflow: hidden;
  margin-right: 18px;

  img {
    height: 100%;
    object-fit: contain;
    object-position: left;
  }
}

.header__nav,
.footer__nav {
  align-self: stretch;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__nav-list,
.footer__nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  a {
    padding: 12px;
    color: $brand-black;
    font-size: 14px;
    font-weight: 400;
  }
}

.header__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  &::before {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    position: absolute;
    content: "";
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ededed;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.70742 1.23599C9.61455 1.14306 9.50428 1.06935 9.38292 1.01905C9.26155 0.968758 9.13146 0.942871 9.00008 0.942871C8.86871 0.942871 8.73862 0.968758 8.61725 1.01905C8.49589 1.06935 8.38562 1.14306 8.29275 1.23599L5.23542 4.29266C5.17291 4.35515 5.08814 4.39025 4.99975 4.39025C4.91136 4.39025 4.82659 4.35515 4.76408 4.29266L1.70742 1.23599C1.51991 1.04839 1.26556 0.942969 1.00032 0.942906C0.735081 0.942844 0.480681 1.04815 0.293084 1.23566C0.105488 1.42317 6.25419e-05 1.67752 2.78174e-08 1.94276C-6.24863e-05 2.20799 0.105243 2.46239 0.292751 2.64999L3.35008 5.70732C3.56676 5.92402 3.82399 6.09591 4.1071 6.21319C4.39021 6.33046 4.69365 6.39083 5.00008 6.39083C5.30652 6.39083 5.60996 6.33046 5.89307 6.21319C6.17618 6.09591 6.43341 5.92402 6.65008 5.70732L9.70742 2.64999C9.89489 2.46246 10.0002 2.20816 10.0002 1.94299C10.0002 1.67783 9.89489 1.42352 9.70742 1.23599Z' fill='%231E2023'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }

  // &:hover {
  //   &::before {
  //     opacity: 0;
  //     visibility: hidden;
  //   }
  // }
}

.phones.with_dropdown {
  position: relative;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  a {
    color: $brand-black;
    font-weight: 700;
  }

  .descr {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    color: $brand-gray;
  }
}

.phones.with_dropdown .dropdown__phones {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  padding: 10px;
  position: absolute;
  background-color: #fff;
  left: -60px;
  top: -25px;
  width: 126%;
  box-shadow: 0px 4px 24px rgba(54, 60, 75, 0.25);
  border-radius: 4px;
}

.phones.with_dropdown .more_phone {
  text-align: right;
  border-radius: 5px;
  padding: 15px 10px;
  transition: background-color 0.3s ease;
}

.phones.with_dropdown .dropdown__socials {
  padding: 10px 10px 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phones.with_dropdown:hover .dropdown__phones {
  opacity: 1;
  visibility: visible;
}

.bg-video-container {
  width: 100%;
  height: 0;
  position: relative;
  left: 0;
  top: 0;
  padding-top: 100vh;
  z-index: -1;

  &._image {
    // padding-top: 46%;
    padding-top: 0;
    height: 700px;

    img {
      object-position: 60%;
    }
  }

  .bg-video-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.3;

    video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

section {
  &:not(:first-child) {
    padding: 75px 0;
  }
}

.video-section {
  position: relative;
}

.fullscreen-slider {
  height: 100%;
  width: 100%;

  .swiper-slide .container {
    height: 100%;
  }

  &.no-swiper {
    .swiper-slide__content {
      max-width: 960px;
    }
  }
}

.fullscreen-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.fullscreen-slider__footer {
  margin-top: auto;
  width: 100%;
}

.fullscreen-slider__footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fullscreen-slider__btns {
  background-color: $brand-blue;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: $brand-blue;
    z-index: -1;
  }

  .btn {
    padding: 36px 72px;

    span {
      display: flex;
      align-items: center;

      &::after {
        margin-left: 12px;
        content: "";
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_10_80)'%3e%3cpath d='M14.3518 7.6569L14.3518 3.96203C14.3375 3.34768 14.087 2.76247 13.6525 2.32794C13.2179 1.89341 12.6327 1.64295 12.0184 1.62858L8.32351 1.62858C8.05827 1.62851 7.80387 1.73382 7.61627 1.92133C7.42867 2.10884 7.32325 2.36319 7.32319 2.62843C7.32312 2.89366 7.42843 3.14806 7.61594 3.33566C7.80345 3.52326 8.0578 3.62868 8.32304 3.62875L10.9445 3.62922L2.35223 12.2432C2.16469 12.4307 2.05934 12.6851 2.05934 12.9503C2.05934 13.2155 2.16469 13.4699 2.35223 13.6574C2.53977 13.8449 2.79412 13.9503 3.05934 13.9503C3.32455 13.9503 3.57891 13.8449 3.76644 13.6574L12.3498 5.05239L12.3517 7.65737C12.3562 7.91954 12.4636 8.16943 12.6506 8.35322C12.8376 8.53701 13.0893 8.63999 13.3515 8.63999C13.6137 8.63999 13.8654 8.53701 14.0524 8.35322C14.2395 8.16943 14.3468 7.91954 14.3514 7.65737L14.3518 7.6569Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_10_80'%3e%3crect width='16' height='16' fill='white' transform='translate(-3.3335 8) rotate(-45)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        display: block;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.swiper-slide__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: $brand-black;

  .slite-title {
    font-size: 64px;
    margin-bottom: 10px;
    line-height: 120%;
  }

  .slide-descr {
    font-size: 24px;
    margin-bottom: 60px;
    line-height: 120%;
  }
}

.slider-timer-nav {
  margin-right: 60px;
  position: relative;
  width: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;

  .swiper-button-prev,
  .swiper-button-next {
    svg {
      transition: transform 0.3s ease-in-out;

      path {
        fill: $brand-red;
      }
    }

    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    position: static;
    border: 2px solid $brand-red;
    border-radius: 50%;
    width: 48px;
    height: 48px;

    &:after {
      display: none;
    }
  }

  .swiper-button-prev:not(:active):hover {
    svg {
      transform: scale(1.3) translateX(-3px);
    }
  }

  .swiper-button-next:not(:active):hover {
    svg {
      transform: scale(1.3) translateX(3px);
    }
  }
}

.main-screen__slider-navigation {
  right: 30px;
  bottom: 30px;
}

.slider-timer-nav .swiper-button-prev,
.slider-timer-nav .swiper-button-next {
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  position: static;
  border: 2px solid $brand-red;
  border-radius: 50%;
  width: 48px;
  height: 48px;

  &.swiper-button-disabled {
    opacity: 1;
    border-color: $brand-gray;

    * {
      stroke: $brand-gray;
      fill: $brand-gray;
    }
  }
}

.slider-timer {
  position: absolute;
  top: 0;
  right: 1px;
  z-index: 2;
  opacity: 0;

  svg {
    width: 47px;
    height: 47px;
  }

  &.start {
    opacity: 1;

    .slider-timer-path {
      animation: rotationSpiner 4s linear forwards 0s;
    }
  }
}

@keyframes rotationSpiner {
  from {
    stroke-dasharray: 0, 100;
  }

  to {
    stroke-dasharray: 100, 100;
  }
}

.fullscreen-slider__counter {
  display: flex;
  font-weight: 700;
  align-items: flex-end;
  color: #1e2023;
  line-height: 100%;
  font-size: 36px;

  .general-slides-count {
    line-height: 100%;
    font-size: 36px;
  }

  .current-slide-num {
    line-height: 100%;
    font-size: 64px;
    color: $brand-red;
  }
}

.advantages {
  &.no-rotate {
    background-color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;

    .list-item__rotate {
      writing-mode: inherit;
      transform: none;
      margin-right: 0;
      margin-bottom: 10px;
    }

    .list-item__info {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.advantages__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  .list-item {
    flex: 1 0 calc(33.33% - 30px);

    .list-item__num {
      font-size: 72px;
      font-weight: 800;
      color: $brand-red;
      line-height: 100%;
      margin-bottom: 20px;
    }
  }

  .list-item__info {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .list-item__rotate {
    line-height: 100%;
    color: $brand-black;
    margin-right: 30px;
    writing-mode: vertical-rl;
    transform: scale(-1);

    font-size: 30px;
    font-weight: 400;
  }
}

.map-bg {
  padding-top: 50px;
  margin-top: 100px;
  background-image: url("../img/map-mask.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  &.full {
    background-size: 110%;
    background-position: center;
    margin-top: 0px;
    padding-top: 0px;

    .advantages {
      padding-bottom: 150px;
      padding-top: 150px;
    }

    .list-item__descr {
      font-style: italic;
    }

    .list-item-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .black-text {
    color: $brand-black;
    margin-top: 20px;
  }
}

.scroll-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50px;
  bottom: 50px;

  .scroll-action__mouse {
    margin-bottom: 16px;
    animation: bounce 1.5s ease-in-out infinite 0s;
  }

  @media (max-width: 1455px) {
    display: none;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(6px);
    opacity: 0.6;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.services__list {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;

  .list-item {
    border: 1px solid rgb(102, 51, 153, 0.1);
    background-color: #fff;
    padding: 30px;
    position: relative;

    &.large {
      flex: 1 0 calc(60% - 30px);
    }

    &.little {
      flex: 1 0 calc(40% - 30px);
    }

    &.form-item {
      border: 2px solid $brand-red;

      .list-item__descr {
        margin-bottom: 16px;
      }

      .list-item__content {
        max-width: initial;
      }

      .form-btn {
        padding: 14px 32px;
      }

      .list-item__image {
        height: 80%;
        opacity: 0.6;

        svg,
        img {
          margin-left: auto;
        }
      }
    }

    .list-item__content {
      position: relative;
      z-index: 2;
      max-width: 360px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
    }

    .middle-title {
      margin-bottom: 10px;
    }

    .list-item__descr {
      font-size: 14px;
      margin-bottom: 75px;
    }

    .list-item__link {
      margin-top: auto;
      color: $brand-black;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 5px 0;
      position: relative;

      &::after {
        margin-left: 12px;
        content: "";
        width: 18px;
        height: 18px;
        display: block;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_9_301)'%3e%3cpath d='M14.3518 7.6569L14.3518 3.96203C14.3375 3.34768 14.087 2.76247 13.6525 2.32794C13.2179 1.89341 12.6327 1.64295 12.0184 1.62858L8.32351 1.62858C8.05827 1.62851 7.80387 1.73382 7.61627 1.92133C7.42868 2.10884 7.32325 2.36319 7.32319 2.62843C7.32312 2.89366 7.42843 3.14806 7.61594 3.33566C7.80345 3.52326 8.0578 3.62868 8.32304 3.62875L10.9445 3.62922L2.35223 12.2432C2.16469 12.4307 2.05934 12.6851 2.05934 12.9503C2.05934 13.2155 2.16469 13.4699 2.35223 13.6574V13.6574C2.53977 13.8449 2.79412 13.9503 3.05934 13.9503C3.32455 13.9503 3.57891 13.8449 3.76644 13.6574L12.3498 5.05239L12.3517 7.65737C12.3562 7.91954 12.4636 8.16943 12.6506 8.35322C12.8376 8.53701 13.0893 8.63999 13.3515 8.63999C13.6137 8.63999 13.8654 8.53701 14.0524 8.35322C14.2395 8.16943 14.3468 7.91954 14.3514 7.65737L14.3518 7.6569Z' fill='%23F32F2F'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_9_301'%3e%3crect width='16' height='16' fill='white' transform='translate(-3.3335 8) rotate(-45)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: $brand-red;
        transition: width 0.3s ease-in-out;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    &:hover {
      .list-item__image {
        opacity: 1;
      }
    }
  }

  .list-item__image {
    opacity: 0.3;
    transition: opacity 0.4s ease-in-out;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 200px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: bottom;
      margin-left: auto;
      height: 100%;
    }
  }
}

.form-item__inputs {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  width: 100%;

  input {
    font-size: 14px;
    width: 48%;
    padding: 14px 16px;
    border-radius: 4px;
    border: 1px solid #59677e;
    transition: box-shadow 0.3s ease-in-out;

    &:first-child {
      margin-right: 4%;
    }

    &:focus {
      box-shadow: 0px 0px 3px 0px $brand-red;
    }
  }
}

.form-agree {
  font-size: 14px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    border-radius: 4px;
    background-color: $brand-red;
    flex: 0 0 auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.16613 11.775C4.71195 11.7752 4.27638 11.5947 3.9555 11.2733L0.295374 7.6145C-0.0984579 7.22054 -0.0984579 6.58193 0.295374 6.18797C0.689332 5.79414 1.32794 5.79414 1.72189 6.18797L5.16613 9.63221L14.2781 0.520227C14.6721 0.126396 15.3107 0.126396 15.7046 0.520227C16.0985 0.914185 16.0985 1.55279 15.7046 1.94675L6.37675 11.2733C6.05587 11.5947 5.6203 11.7752 5.16613 11.775Z' fill='white'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }
}

.map-section {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  position: relative;
}

.map-section__image {
  width: 100%;
  position: relative;
  height: 596px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.contacts-block {
  max-width: 520px;
  background-color: #1e2023;
  padding: 60px;

  .contacts-block__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #fff;
  }

  .contacts-block__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .contacts-block__nameplate {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  .contacts-block__link {
    color: #fff;
    padding: 5px 0;
  }
}

.contacts-block-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.footer__nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  padding: 25px 0;
  background-color: #1a1b1d;
}

.footer__nav-list a {
  color: #fff !important;
}

.footer__info {
  margin-left: auto;
  color: #fff;
  font-size: 14px;
  text-align: right;

  a {
    color: #fff;
  }

  a:hover {
    text-decoration: underline;
  }
}

.mobile-menu-btn {
  display: none;
}

.mobile-menu {
  &.active {
    opacity: 1;
    visibility: visible;
  }

  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  padding-top: 100px;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $brand-red;

  a {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    padding: 10px;
    padding-right: 0;
    text-align: right;
  }

  .dropdown__phones {
    margin-top: 40px;

    .descr {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;
      margin-top: 5px;
    }

    .dropdown__socials {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      svg path {
        fill: #fff;
      }
    }

    .dropdown__social {
      padding: 10px 15px;
    }
  }

  .container {
    height: 100%;
  }

  .mobile-menu__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20px;
  }
}

@media (max-width: 1080px) {
  .footer__nav {
    flex: 0 0 100%;
    order: 10;
  }

  .footer__nav-list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__wrapper {
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .header__logo,
  .footer__logo,
  .footer__info {
    flex: 0 0 auto;
  }

  .contacts-block-wrapper {
    position: static;
  }

  .contacts-block {
    margin: 0;
    max-width: initial;
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .header__nav,
  .header__phone {
    display: none;
  }

  .mobile-menu-btn {
    border-radius: 4px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: $brand-red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 12px;

    span {
      background-color: #fff;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      transition: transform 0.3s ease-in-out;
    }

    &.active {
      span:nth-of-type(1) {
        transform: rotate(45deg) translate3d(5px, 5px, 0);
      }

      span:nth-of-type(2) {
        transform: scale(0);
      }

      span:nth-of-type(3) {
        transform: rotate(-45deg) translate3d(5px, -5px, 0);
      }
    }
  }
}

@media (max-width: 992px) {
  .swiper-slide__content .slite-title {
    font-size: 48px;
  }

  .fullscreen-slider__footer-content {
    flex-wrap: wrap;
    gap: 10px;
  }

  .fullscreen-slider__counter,
  .slider-timer-nav {
    flex: 0 0 calc(50% - 10px);
    margin: 0;
  }

  .slider-timer-nav {
    justify-content: flex-end;
    gap: 15px;
  }

  .fullscreen-slider__btns {
    margin-left: 0px;
    width: 100%;

    .btn {
      flex: 0 0 50%;
      padding: 35px;
    }
  }

  .fullscreen-slider__btns::before {
    display: none;
  }

  .swiper-slide__content {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .services__list .list-item {
    flex: 0 0 100% !important;
  }

  .services__list .list-item.form-item {
    order: 100;
  }
}

@media (max-width: 768px) {
  .advantages__list {
    flex-direction: column;
  }

  .bg-video-container {
    padding-top: 800px;
  }

  .swiper-slide__content .slite-title {
    font-size: 42px;
    line-height: 100%;
  }

  .swiper-slide__content .slide-descr {
    font-size: 22px;
    margin-bottom: 40px;
  }

  .footer__logo {
    order: 1;
    // margin-bottom: 18px;
    margin-right: 0;
  }

  .footer__nav {
    padding: 18px 0;
  }

  .footer {
    padding-top: 30px;
  }

  .footer__nav {
    order: 2;
  }

  .footer__info {
    order: 3;
    width: 100%;
    border-top: 1px solid $brand-red;
    padding-top: 10px;
  }

  .footer__nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    text-align: left;
    margin-left: 0;

    a {
      text-decoration: underline;
    }
  }

  .footer__nav-list a {
    padding-left: 0;
  }
}

@media (max-width: 576px) {
  .contacts-block {
    padding: 20px;
  }

  .swiper-slide__content .slite-title,
  .swiper-slide__content .slide-descr {
    @include pruning(4);
  }

  .map-bg {
    background-position: 0 5%;
  }

  .header__wrapper {
    padding: 15px 0;
  }

  section:not(:first-child) {
    padding: 50px 0;
  }

  .fullscreen-slider__btns {
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
    width: calc(100% + 40px);

    .btn {
      flex: 0 0 100%;
    }
  }

  .map-bg {
    margin-top: 0;
  }

  .header {
    box-shadow: 0px 2px 8px 0px rgb(34 60 80 / 20%);
    background-color: #fff;
  }

  .swiper-slide__content {
    padding-top: 138px;
  }

  .swiper-slide__content .slite-title {
    font-size: 32px;
  }

  .swiper-slide__content .slide-descr {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .slider-timer-nav {
    margin-right: auto;
    flex: 0 0 auto;
    justify-content: flex-start;
    width: fit-content;
  }

  .large-title {
    font-size: 28px;
  }

  .advantages__list .list-item .list-item__num {
    font-size: 52px;
  }

  .advantages__list .list-item__rotate {
    font-size: 22px;
    margin-right: 16px;
  }

  .services__list .list-item {
    border: none;

    &:hover {
      .list-item__image {
        opacity: 0.3;
      }
    }
  }

  .form-item__inputs {
    flex-direction: column;
    gap: 10px;
  }

  .form-item__inputs input {
    margin: 0;
    width: 100%;
  }

  .services__list .list-item.form-item .form-btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .services__list .list-item__image {
    width: 200px;
    height: 150px;
  }

  .fullscreen-slider__btns .btn {
    padding: 25px;
  }
}

@media (max-width: 380px) {
  .contacts-block {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}

.about-section {
  padding-top: 175px;
  padding-bottom: 150px;
  background-color: #fff;
}

.about-section__wrapper {
  height: 330px;
  background-color: #312755;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background-image: url("../img/ball.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 1205px;
    height: 1205px;
  }

  .container {
    position: relative;
    height: 100%;
  }

  .about-section__img {
    position: absolute;
    left: 0;
    top: -35px;
    bottom: -35px;

    img {
      position: relative;
      z-index: 2;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100vw;
      background-color: #fff;
      left: 150px;
      top: 0;
      bottom: 0;
      transform: translateX(-100%);
      z-index: 1;
    }
  }
}

.about-section__content {
  padding-left: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;

  .about-section__title {
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 120%;
  }

  .about-section__descr {
    font-size: 18px;
    max-width: 740px;
    font-weight: 600;
  }
}

section.clients {
  padding-top: 150px;
  padding-bottom: 150px;
}

.clients__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  .clients__text {
    flex: 1 0 calc(33.33% - 30px);
  }

  .clients__blocks-list {
    flex: 1 0 calc(66.66% - 30px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;

    .list-item {
      &.white {
        background-color: #fff;
      }

      padding: 12px;
      background: #f0f0f0;
      height: 100px;
      flex: 1 0 calc(25% - 30px);
      overflow: hidden;

      img {
        height: 100%;
        margin: auto;
        object-fit: contain;
      }
    }
  }
}

section.our-mission {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .our-mission__title {
    line-height: 120%;
    font-size: 64px;
    margin-bottom: 30px;
    color: $brand-black;
  }

  .our-mission__descr {
    max-width: 850px;
    font-size: 18px;
    margin: auto;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 10px;
    position: relative;

    &::before,
    &::after {
      width: 140px;
      position: absolute;
      top: 0;
      content: "";
      height: 111px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='142' height='113' viewBox='0 0 142 113' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M55.5194 103.872L55.5194 103.872L55.5261 103.865C61.5061 97.8828 64.4837 90.1319 64.4837 80.6588C64.4837 74.049 62.941 68.294 59.8368 63.414C56.8095 58.655 52.6205 55.059 47.2841 52.6281L61.5285 1.1333L61.7037 0.5H61.0466H28.7389H28.4012L28.2751 0.813259L9.34914 47.8206C5.65007 56.5281 3.24431 63.0863 2.14662 67.4788C1.04922 71.8701 0.5 76.2638 0.5 80.6588C0.5 89.918 3.47988 97.5587 9.45757 103.539L9.45751 103.539L9.46405 103.545C15.6568 109.519 23.3993 112.5 32.655 112.5C41.905 112.5 49.5406 109.632 55.5194 103.872ZM132.536 103.872L132.542 103.865C138.522 97.8828 141.5 90.1319 141.5 80.6588C141.5 74.049 139.957 68.294 136.853 63.414C133.826 58.655 129.637 55.059 124.3 52.6281L138.545 1.1333L138.72 0.5H138.063H105.755H105.418L105.291 0.813259L86.3673 47.8163C86.3666 47.8178 86.366 47.8194 86.3653 47.8209C82.6663 56.5282 80.2606 63.0863 79.1629 67.4788C78.0655 71.8701 77.5163 76.2638 77.5163 80.6588C77.5163 89.918 80.4962 97.5587 86.4739 103.539L86.4738 103.539L86.4804 103.545C92.6731 109.519 100.416 112.5 109.671 112.5C118.921 112.5 126.557 109.632 132.536 103.872Z' stroke='%23F32F2F'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &::before {
      left: -80px;
      transform: translate3d(-100%, -100%, 0);
    }

    &::after {
      right: -80px;
      transform: translate3d(100%, 0, 0) scale3d(-1, -1, 1);
    }
  }

  .our-mission__bold-text {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1px;
    color: $brand-black;
  }
}

section.combo-section {
  background-color: #fff;
  padding: 150px 0;
}

.combo-section__nav {
  margin-top: 30px;
}

.combo-section__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.combo-section__block {
  flex: 1 0 calc(33.33% - 30px);
}

.combo-section__slider-wrapper {
  flex: 1 0 calc(66.66% - 30px);
  overflow: hidden;

  .slide-item {
    width: 263px;
    height: 276px;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: $brand-blue;
      right: 0;
      bottom: 0;
      transform: translate3d(10%, 30%, 0);
    }

    &:hover {
      .slide-item__hide-content {
        transform: translate3d(0%, 0%, 0);
        border-radius: 0%;
      }

      .slide-item__name,
      .slide-item__descr {
        opacity: 1;
        transition: opacity 0.3s ease-in-out 0.3s;
      }
    }
  }

  .slide-item__wrapper {
    height: 100%;
  }

  .slide-item__hide-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $brand-blue;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out 0.2s;
    padding: 40px 20px;
    color: #fff;
    transform: translate3d(20%, 100%, 0);
    z-index: 2;
    border-radius: 50%;

    &:before {
      position: absolute;
      right: 20px;
      bottom: 25px;
      content: "";
      width: 24px;
      height: 14px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='14' viewBox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.1218 13.3941L23.0408 9.47514C23.6772 8.80828 24.0322 7.92191 24.0322 7.00013C24.0322 6.07835 23.6772 5.19199 23.0408 4.52513L19.1218 0.606131C18.8405 0.324736 18.459 0.166598 18.0611 0.166504C17.6633 0.16641 17.2817 0.324369 17.0003 0.605632C16.7189 0.886894 16.5608 1.26842 16.5607 1.66628C16.5606 2.06414 16.7185 2.44574 16.9998 2.72713L19.7798 5.50813L1.52979 5.53113C1.13196 5.53113 0.75043 5.68917 0.469125 5.97047C0.18782 6.25178 0.0297852 6.63331 0.0297852 7.03113C0.0297852 7.42896 0.18782 7.81049 0.469125 8.0918C0.75043 8.3731 1.13196 8.53114 1.52979 8.53114L19.7608 8.50814L16.9998 11.2731C16.7265 11.556 16.5754 11.9349 16.5788 12.3282C16.5822 12.7215 16.7399 13.0978 17.0181 13.3759C17.2962 13.654 17.6724 13.8117 18.0657 13.8152C18.459 13.8186 18.8379 13.6674 19.1208 13.3941H19.1218Z' fill='white'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .slide-item__name {
    font-size: 18px;
    font-weight: 600;
  }

  .slide-item__descr {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .slide-item__name,
  .slide-item__descr {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .slide-item__image {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom center;
    }
  }
}

section.contacts-section {
  padding: 150px 0;
}

.contacts-section__wrapper {
  display: flex;
  align-items: stretch;
  gap: 30px;
}

.contacts-section__list {
  flex: 1 0 calc(60% - 30px);
  display: flex;
  // align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;

  .contacts-section__list-item,
  .list-item__expert {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(50% - 30px);
    align-items: stretch;

    span {
      display: flex;
      line-height: 140%;

      a {
        padding: 0 3px;
      }

      & * {
        color: $brand-gray;
      }
    }

    // .address__block {
    //   margin-bottom: 30px;
    // }

    .middle-title {
      margin-bottom: 10px;
    }
  }
}

.contacts-section__form {
  flex: 1 0 calc(40% - 30px);
  padding-left: 30px;
  border-left: 1px solid $brand-red;

  .large-title {
    margin-bottom: 20px;
  }

  .form-item__inputs {
    flex-direction: column;
    width: 100%;

    input {
      width: 100%;
      margin-bottom: 10px;
      padding: 14px 16px;
      font-size: 14px;
      border: 1px solid #9b9b9b;
      border-radius: 4px;
    }
  }

  .list-item__descr {
    margin-bottom: 36px;
  }

  .form-agree {
    margin-bottom: 30px;
  }
}

/***************************************************
 * Generated by SVG Artista on 5/13/2022, 11:29:30 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
  stroke-dashoffset: 1638.1466064453125px;
  stroke-dasharray: 1638.1466064453125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 0s, fill 0.4s ease-in-out 0.8s;
  transition: stroke-dashoffset 3s ease 0s, fill 0.4s ease-in-out 0.8s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 3276.293212890625px;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-2 {
  stroke-dashoffset: 1638.1466064453125px;
  stroke-dasharray: 1638.1466064453125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 0.12s,
    fill 0.4s ease-in-out 0.9s;
  transition: stroke-dashoffset 3s ease 0.12s, fill 0.4s ease-in-out 0.9s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 3276.293212890625px;
  fill: rgb(196, 196, 196);
}

svg .svg-elem-3 {
  stroke-dashoffset: 2100.767822265625px;
  stroke-dasharray: 2100.767822265625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 0.24s, fill 0.4s ease-in-out 1s;
  transition: stroke-dashoffset 3s ease 0.24s, fill 0.4s ease-in-out 1s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 4201.53564453125px;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-4 {
  stroke-dashoffset: 2100.767822265625px;
  stroke-dasharray: 2100.767822265625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 0.36s,
    fill 0.4s ease-in-out 1.1s;
  transition: stroke-dashoffset 3s ease 0.36s, fill 0.4s ease-in-out 1.1s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 4201.53564453125px;
  fill: rgb(230, 230, 230);
}

svg .svg-elem-5 {
  stroke-dashoffset: 4173.853515625px;
  stroke-dasharray: 4173.853515625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 0.48s,
    fill 0.4s ease-in-out 1.2000000000000002s;
  transition: stroke-dashoffset 3s ease 0.48s,
    fill 0.4s ease-in-out 1.2000000000000002s;
}

svg.active .svg-elem-5 {
  stroke-dashoffset: 8347.70703125px;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-6 {
  stroke-dashoffset: 4173.853515625px;
  stroke-dasharray: 4173.853515625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 0.6s, fill 0.4s ease-in-out 1.3s;
  transition: stroke-dashoffset 3s ease 0.6s, fill 0.4s ease-in-out 1.3s;
}

svg.active .svg-elem-6 {
  stroke-dashoffset: 8347.70703125px;
  fill: rgb(225, 225, 225);
}

svg .svg-elem-7 {
  stroke-dashoffset: 789.5315551757812px;
  stroke-dasharray: 789.5315551757812px;
  -webkit-transition: stroke-dashoffset 3s ease 0.72s,
    fill 0.4s ease-in-out 1.4000000000000001s;
  transition: stroke-dashoffset 3s ease 0.72s,
    fill 0.4s ease-in-out 1.4000000000000001s;
}

svg.active .svg-elem-7 {
  stroke-dashoffset: 1579.0631103515625px;
}

svg .svg-elem-8 {
  stroke-dashoffset: 113.45868080112012px;
  stroke-dasharray: 113.45868080112012px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 0.84s,
    fill 0.4s ease-in-out 1.5s;
  transition: stroke-dashoffset 3s ease 0.84s, fill 0.4s ease-in-out 1.5s;
}

svg.active .svg-elem-8 {
  stroke-dashoffset: 226.91736160224025px;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-9 {
  stroke-dashoffset: 113.45868080112012px;
  stroke-dasharray: 113.45868080112012px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 0.96s,
    fill 0.4s ease-in-out 1.6s;
  transition: stroke-dashoffset 3s ease 0.96s, fill 0.4s ease-in-out 1.6s;
}

svg.active .svg-elem-9 {
  stroke-dashoffset: 226.91736160224025px;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-10 {
  stroke-dashoffset: 113.45868080112012px;
  stroke-dasharray: 113.45868080112012px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 1.08s,
    fill 0.4s ease-in-out 1.7000000000000002s;
  transition: stroke-dashoffset 3s ease 1.08s,
    fill 0.4s ease-in-out 1.7000000000000002s;
}

svg.active .svg-elem-10 {
  stroke-dashoffset: 226.91736160224025px;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-11 {
  stroke-dashoffset: 39.152914544324396px;
  stroke-dasharray: 39.152914544324396px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 1.2s, fill 0.4s ease-in-out 1.8s;
  transition: stroke-dashoffset 3s ease 1.2s, fill 0.4s ease-in-out 1.8s;
}

svg.active .svg-elem-11 {
  stroke-dashoffset: 78.30582908864879px;
  fill: rgb(243, 47, 47);
}

svg .svg-elem-12 {
  stroke-dashoffset: 39.152914544324396px;
  stroke-dasharray: 39.152914544324396px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 1.3199999999999998s,
    fill 0.4s ease-in-out 1.9000000000000001s;
  transition: stroke-dashoffset 3s ease 1.3199999999999998s,
    fill 0.4s ease-in-out 1.9000000000000001s;
}

svg.active .svg-elem-12 {
  stroke-dashoffset: 78.30582908864879px;
  fill: rgb(243, 47, 47);
}

svg .svg-elem-13 {
  stroke-dashoffset: 39.152914544324396px;
  stroke-dasharray: 39.152914544324396px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 1.44s, fill 0.4s ease-in-out 2s;
  transition: stroke-dashoffset 3s ease 1.44s, fill 0.4s ease-in-out 2s;
}

svg.active .svg-elem-13 {
  stroke-dashoffset: 78.30582908864879px;
  fill: rgb(243, 47, 47);
}

svg .svg-elem-14 {
  stroke-dashoffset: 39.152914544324396px;
  stroke-dasharray: 39.152914544324396px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 1.56s,
    fill 0.4s ease-in-out 2.1s;
  transition: stroke-dashoffset 3s ease 1.56s, fill 0.4s ease-in-out 2.1s;
}

svg.active .svg-elem-14 {
  stroke-dashoffset: 78.30582908864879px;
  fill: rgb(243, 47, 47);
}

svg .svg-elem-15 {
  stroke-dashoffset: 39.152914544324396px;
  stroke-dasharray: 39.152914544324396px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 1.68s,
    fill 0.4s ease-in-out 2.2s;
  transition: stroke-dashoffset 3s ease 1.68s, fill 0.4s ease-in-out 2.2s;
}

svg.active .svg-elem-15 {
  stroke-dashoffset: 78.30582908864879px;
  fill: rgb(243, 47, 47);
}

svg .svg-elem-16 {
  stroke-dashoffset: 39.152914544324396px;
  stroke-dasharray: 39.152914544324396px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 1.7999999999999998s,
    fill 0.4s ease-in-out 2.3s;
  transition: stroke-dashoffset 3s ease 1.7999999999999998s,
    fill 0.4s ease-in-out 2.3s;
}

svg.active .svg-elem-16 {
  stroke-dashoffset: 78.30582908864879px;
  fill: rgb(243, 47, 47);
}

svg .svg-elem-17 {
  stroke-dashoffset: 39.152914544324396px;
  stroke-dasharray: 39.152914544324396px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 1.92s,
    fill 0.4s ease-in-out 2.4000000000000004s;
  transition: stroke-dashoffset 3s ease 1.92s,
    fill 0.4s ease-in-out 2.4000000000000004s;
}

svg.active .svg-elem-17 {
  stroke-dashoffset: 78.30582908864879px;
  fill: rgb(243, 47, 47);
}

svg .svg-elem-18 {
  stroke-dashoffset: 39.152914544324396px;
  stroke-dasharray: 39.152914544324396px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 2.04s,
    fill 0.4s ease-in-out 2.5s;
  transition: stroke-dashoffset 3s ease 2.04s, fill 0.4s ease-in-out 2.5s;
}

svg.active .svg-elem-18 {
  stroke-dashoffset: 78.30582908864879px;
  fill: rgb(243, 47, 47);
}

svg .svg-elem-19 {
  stroke-dashoffset: 39.152914544324396px;
  stroke-dasharray: 39.152914544324396px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 2.16s,
    fill 0.4s ease-in-out 2.6s;
  transition: stroke-dashoffset 3s ease 2.16s, fill 0.4s ease-in-out 2.6s;
}

svg.active .svg-elem-19 {
  stroke-dashoffset: 78.30582908864879px;
  fill: rgb(243, 47, 47);
}

svg .svg-elem-20 {
  stroke-dashoffset: 39.152914544324396px;
  stroke-dasharray: 39.152914544324396px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 2.28s,
    fill 0.4s ease-in-out 2.7s;
  transition: stroke-dashoffset 3s ease 2.28s, fill 0.4s ease-in-out 2.7s;
}

svg.active .svg-elem-20 {
  stroke-dashoffset: 78.30582908864879px;
  fill: rgb(243, 47, 47);
}

svg .svg-elem-21 {
  stroke-dashoffset: 469.2404479980469px;
  stroke-dasharray: 469.2404479980469px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 2.4s, fill 0.4s ease-in-out 2.8s;
  transition: stroke-dashoffset 3s ease 2.4s, fill 0.4s ease-in-out 2.8s;
}

svg.active .svg-elem-21 {
  stroke-dashoffset: 938.4808959960938px;
  fill: rgb(0, 0, 0);
}

svg .svg-elem-22 {
  stroke-dashoffset: 740.655029296875px;
  stroke-dasharray: 740.655029296875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 2.52s,
    fill 0.4s ease-in-out 2.9000000000000004s;
  transition: stroke-dashoffset 3s ease 2.52s,
    fill 0.4s ease-in-out 2.9000000000000004s;
}

svg.active .svg-elem-22 {
  stroke-dashoffset: 1481.31005859375px;
  fill: rgb(0, 0, 0);
}

svg .svg-elem-23 {
  stroke-dashoffset: 485.6320495605469px;
  stroke-dasharray: 485.6320495605469px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s ease 2.6399999999999997s,
    fill 0.4s ease-in-out 3s;
  transition: stroke-dashoffset 3s ease 2.6399999999999997s,
    fill 0.4s ease-in-out 3s;
}

svg.active .svg-elem-23 {
  stroke-dashoffset: 971.2640991210938px;
  fill: rgb(0, 0, 0);
}

.painting-map {
  position: relative;
  background-color: #fff;
  padding: 0 !important;
}

.painting-map__content {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
}

.painting-map__inner {
  max-width: 410px;
  transform: translateY(-50%);
}

.painting-map__descr {
  font-weight: 500;
  line-height: 140%;
}

.painting-map__wrapper {
  height: 700px;
  overflow: hidden;
  width: 100%;

  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
}

section.image-block {
  padding-top: 150px;
  padding-bottom: 150px;
  &.white {
    background-color: #fff;
  }
}

.image-block__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  &.low {
    .image-block__text {
      max-width: 410px;
    }
    .image_wrapper {
      box-shadow: 10px 10px 0px 0px $brand-red;
    }
  }
}

.image-block__text {
  flex: 1 0 calc(40% - 30px);
}

.image-block__img {
  flex: 0 0 calc(60% - 30px);

  .image_container {
    height: 0;
    position: relative;
    padding-top: 64%;
  }

  .image_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 10px 10px 0px 0px $brand-blue;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.combo-section.galery {
  background-color: #f9f9f9;
  .combo-section__slider-wrapper .slide-item:before {
    display: none;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .galery-slide__footer {
    padding: 10px;
    background-color: $brand-blue;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

section.vacancies {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #fff;
  .vacancies__lists {
    position: relative;
  }
  .vacancies__list {
    flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 30px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &.show {
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }
  .list-item {
    flex: 1 0 calc(33.33% - 30px);
    padding: 30px;
    background-color: #f9f9f9;
  }
  .list-item__title {
    font-size: 30px;
    margin-bottom: 10px;
    color: $brand-black;
    line-height: 140%;
  }
  .dotted-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    &::before {
      margin-top: 8px;
      margin-right: 10px;
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      background-color: #59677e;
      border-radius: 50%;
    }
  }
  .list-item__info {
    padding: 30px 0;
  }
  .redBtn {
    background-color: transparent;
    border-color: $brand-red;
    color: $brand-red;
    font-weight: 600;
    font-size: 16px;
  }
}

.vacancies__tabs {
  margin-bottom: 35px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  .tabs__btn {
    cursor: pointer;
    margin-right: 16px;
    padding: 8px 16px;
    border: 2px solid $brand-red;
    border-radius: 4px;
    color: $brand-red;
    &.active {
      background-color: $brand-red;
      color: #fff;
    }
  }
}
